body {
  width: 100%;
  height: 100%;
}

nav ul a li {
  font-family: 'Cantata One', serif;
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
}

*/

/* .about {
  width: 500px;
  height: 350px;
  padding: 50px;
  background-color: #A5243D;
} */
.about:hover {
  transition: width 3s height 2s;
  border: 1px solid white;
  background: linear-gradient(white, white 50%, black 50%, black);
  background-size: 100% 200%;
}

. .about {
  position: absolute;
  top: 50%;
  white-space: nowrap;
  overflow: hidden;
  line-height: 220px;
}

nav ul a li:hover {
  border: 1px solid white;
  border-radius: 10px;
  transition: 4s ease-in;
  background-color: rgb(59, 2, 6);
}

.row .col-md-5 {
  width: 500px;
  height: 300px;
  float: right;
  background-color: #A5243D;
  animation: pulse 3s ease infinite alternate;
  transition: margin-left 0.5s ease;
}

.row .col-md-5:hover {
  border: 1px solid white;
}

/* .m-3{
  border-radius: 50%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-left: 20px;
} */
#contacts {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

#contacts h4 {
  padding: 20px;
}

#contacts h4:hover {
  border: 1px solid #A5243D;
  border-radius: 60px;
}

#contacts h4 {
  color: white;
  text-decoration: none;
}

.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.container .box {
  margin-top: 10px;
  position: relative;
  width: 200px;
  height: 100px;
  border-radius: 30px;
  ;
  ;
  box-sizing: border-box;
  text-align: center;
  margin: 0 10px;
  background: #00171d;
  overflow: hidden;
  box-shadow: 0 0 0 2px rgba(0, 7, 10, 1);
}

.container .box .icon {
  width: 100%;
  height: 100%;
  background: #00171d;
  transition: 0.5s;
}

.container .box .icon .fa {
  font-size: 25px;
  line-height: 100px;
  color: #0ff;
}

.container .box:hover .icon {
  transform: scale(0);
}

.container .box .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  transition: 0.5s;
  transform: scale(2);
  opacity: 0;
}

.container .box:hover .details {
  transform: scale(1);
  opacity: 1;
}

.container .box .details h3 {
  margin: 0;
  padding: 0;
  line-height: 100px;
  font-size: 24px;
  color: #fff;
}

.container .box .details:nth-child(2) .details {
  background: #e91e63;
}

.container .box .details:nth-child(2) .details {
  background: #607d8b;
}

@media screen and(max-width:480px) {
  .container-fluid {
    height: 100%;
    width: 100%;
  }
 .box {
    height: 20px;
    width: 10px;
    margin-left:0px;
    display: flex;
    justify-content: center;
  }
  #name{
    width:100%;
    height:100%;
  }
  #robotics{
    width:100%;
    height:100%;
  }
  footer {
    display: flex;
    justify-content: center;
  }
  .d-flex{
    margin-left: 10px;
  }
}
