body {
  background-color: black;
}

nav ul a li {
  font-family: 'Cantata One', serif;
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul a li:hover {
  border: 1px solid white;
  border-radius: 10px;
  transition: 2s ease-in;
  background-color: rgb(59, 2, 6);
}
.skills{
  display:flex;
  flex-direction: column;
}
.skills .box {
  height: 400px;
  width: 500px;
  box-shadow: 3px 3px 5px 3px #ccc;
  background-color: white;
}
