body {
  background-color: #000103;
}

nav ul a li {
  font-family: 'Cantata One', serif;
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul a li:hover {
  border: 1px solid white;
}
